<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @post.image_url(:thumb).to_s %>
</p>

<p>
	<strong>BY: </strong>
	<%= @post.author.name %>
</p>
<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<p id="author">
  <b>By:</b>
  <%= @post.author.email %>
</p>

<p id="status">
  <b>Status:</b>
  <%= @post.published? ? "Published" : "Unpublished" %>
</p>
<%= render "comments/comments_form" %>
<%= render "comments/table" %>
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
